<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Viajes 360° Plus</title>
  <!--CSS only-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <!-- CSS pure -->
  <link rel="stylesheet" href="../../assets/styles/style.css" />

  <!-- cssWhatsapp -->
  <link rel="stylesheet" href="../../assets/styles/whatsapp.css">

  <!-- Boostrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

  <link rel="icon" href="../../assets/img/PLUS.png" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div style="background-color: white;" class="col">
        <a class="nav-link active" href="../views/index.html">
          <br><img id="logotipo" src="../../assets/img/miNuevoLogo4Nubes.png" alt="logotipo" />
        </a>
      </div>
      <div style="background-color: white;" class="col">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: black;font-size: 27px;" id="menu" class="nav-link active" aria-current="page"
                href="../views/index.html"><br><br> Inicio</a>
            </li>
            <!-- <li class="nav-item">
            <a style="color: white;" id="menu" class="nav-link active" href="../views/coleccion.html"><br><br>colección</a>
          </li> -->
            <li class="nav-item">
              <a style="color:black;font-size: 27px;" id="menu" class="nav-link active"
                href="../views/tiendas.html"><br><br><br><br> ¡A cerca
                de Viajes 360° Plus!</a>
            </li>
            <li class="nav-item">
              <a style="color:black;font-size: 27px;" id="menu" class="nav-link active"
                href="../views/acercaDe.html"><br><br> Fotos y
                Videos</a>
            </li>

            <!-- <li class="nav-item">
              <a id="menu" class="nav-link active" href="../views/tiendas.html">Our shops</a>
            </li>
            <li class="nav-item">
              <a id="menu" class="nav-link active" href="../views/acercaDe.html">About</a>
            </li> -->
            <!-- carrito -->
            <!-- <li class="nav-item">
              <a id="menu" class="nav-link" href="./resumenCompra.html"><i class="bi bi-cart3"></i> <span id="pill"
                  class="position-absolute top-10 start-10 translate-middle badge rounded-pill bg-danger">0
                </span></a>
            </li>
            <li class="nav-item ms-auto">
              <a id="usuario" class="nav-link active" aria-current="page" href="#">User</a>
            </li>
            <li class="nav-item ms-auto">
              <a id="exit" class="nav-link active" aria-current="page" href="#">Exit <i
                  class="bi bi-box-arrow-left"></i></a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <hr style="color: transparent;">
  <!--------------------------FOTOS------------------------------------------------ -->
  <div id="fotos" class="imagenes">
    <div id="fila">
      <div class="row">
        <div class="column">
          <img
            src="https://www.zankyou.es/images/mag-card-c/506/b6f7/878/623/-/es/wp-content/uploads/2017/09/shutterstock-194131748-1.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img
            src="https://asset1.zankyou.com/images/mag-post/cc3/7b67/685//-/es/wp-content/uploads/2015/05/3shutterstock_255579064.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
  <hr style="color: transparent;">

  <!-- ------------------------FOTOS------------------------------------------------------------------------ -->

  <div id="fotos" class="imagenes">
    <div id="fila">
      <div class="row">
        <div class="column">
          <img
            src="https://www.zankyou.es/images/mag-card-c/506/b6f7/878/623/-/es/wp-content/uploads/2017/09/shutterstock-194131748-1.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img
            src="https://asset1.zankyou.com/images/mag-post/cc3/7b67/685//-/es/wp-content/uploads/2015/05/3shutterstock_255579064.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
  <hr style="color: transparent;">
  <hr style="color: transparent;">

  <!-------------------------FOTOS------------------------------------------------------- -->

  <div id="fotos" class="imagenes">
    <div id="fila">
      <div class="row">
        <div class="column">
          <img
            src="https://www.zankyou.es/images/mag-card-c/506/b6f7/878/623/-/es/wp-content/uploads/2017/09/shutterstock-194131748-1.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img
            src="https://asset1.zankyou.com/images/mag-post/cc3/7b67/685//-/es/wp-content/uploads/2015/05/3shutterstock_255579064.jpg"
            alt="Imagen 1">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
  <hr style="color: transparent;">
  <hr style="color: transparent;">

  <!-- -------------------------------VIDEOS-------------------------->

  <div id="videos">
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <br>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <br>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <br>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
    <video width="640" height="360" controls>
      <source src="/assets/img/VID-20230125-WA0008.mp4" type="video/mp4">
    </video>
  </div>
  <hr style="color: transparent;">
  <!-- -------------------------------------------------//-------------------------------------- -->

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 mt-5 d-flex justify-content-center">
          <a target="_blank" href="https://www.facebook.com/" style="color: black"><i
              class="bi bi-facebook fs-2 m-2"></i></a>
          <a target="_blank" href="https://twitter.com/" style="color: black"><i class="bi bi-tiktok fs-2 m-2"></i></a>
          <a target="_blank" href="https://www.instagram.com/viajes360plus/?igshid=YmMTA2M2Y%3D" style="color: black"><i
              class="bi bi-instagram fs-2 m-2"></i></a>
        </div>
        <div class="col-12 text-center">
          <p><strong>infoviajes360plus@gmail.com</strong></p>
        </div>
        <div class="col-12 text-center mt-3">
          <p>&copy;<strong> Viaje 360° Plus</strong></p>
        </div>
      </div>
    </div>
  </footer>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=3008903634&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Viajes 360° Plus."
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <script src="../controllers/pintarCarrito.js"></script>
  <script src="../services/conexionFireBase.js" type="module"></script>
  <script src="../services/observadorEstado.js" type="module"></script>
</body>

</html>