<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Viajes 360° Plus</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <!-- CSS pure -->
  <link rel="stylesheet" href="../../assets/styles/style.css" />

  <!-- cssWhatsapp -->
  <link rel="stylesheet" href="../../assets/styles/whatsapp.css">

  <!-- Boostrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

  <link rel="icon" href="../..//assets/img/PLUS.png" />
</head>

<body>

  <strong><nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div style="background-color: white;" class="col">
        <a class="nav-link active" href="../views/index.html">
          <br><img id="logotipo" src="../../assets/img/miNuevoLogo4Nubes.png" alt="logotipo" />
        </a>
      </div>
      <div style="background-color: white;" class="col">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: black;font-size: 27px;" id="menu" class="nav-link active" aria-current="page"
                href="../views/index.html"><br><br> Inicio</a>
            </li>
            <!-- <li class="nav-item">
            <a style="color: white;" id="menu" class="nav-link active" href="../views/coleccion.html"><br><br>colección</a>
          </li> -->
            <li class="nav-item">
              <a style="color: black;font-size: 27px;" id="menu" class="nav-link active" href="../views/tiendas.html"><br><br><br><br> ¡A cerca
                de 360° Plus!</a>
            </li>
            <li class="nav-item">
              <a style="color: black;font-size: 27px;" id="menu" class="nav-link active" href="../views/acercaDe.html"><br><br> Fotos y
                Videos</a>
            </li>
            <!-- <li class="nav-item">
              <a id="menu" class="nav-link active" href="./resumenCompra.html"><i class="bi bi-cart3"></i>
                <span id="pill" class="position-absolute top-10 start-10 translate-middle badge rounded-pill bg-danger">
                  0
                </span></a>
            </li>
            </li>
            <li class="nav-item ms-auto">
              <a id="usuario" class="nav-link active" aria-current="page" href="#">usuario</a>
            </li>
            <li class="nav-item ms-auto">
              <a id="exit" class="nav-link active" aria-current="page" href="#">Salir <i
                  class="bi bi-box-arrow-left"></i></a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav></strong>


  <div class="container">
    <div class="row">
      <div style="background-color: rgb(0, 102, 255)" class="col text-center mt-5">
        <h2 style="color: white;font-size: 70px;"> <strong> ¡Viajes 360° Plus!</strong><a style="color: red;"
            href="https://www.google.com/maps/place/Itag%C3%BCi,+Antioquia/@6.1752924,-75.6345296,14z/data=!4m15!1m8!3m7!1s0x8e46822e075e9cd5:0x6dd21cc8445c3d42!2sItag%C3%BCi,+Antioquia!3b1!8m2!3d6.1681832!4d-75.6190324!16zL20vMDdodnk4!3m5!1s0x8e46822e075e9cd5:0x6dd21cc8445c3d42!8m2!3d6.1681832!4d-75.6190324!16zL20vMDdodnk4?hl=es"
            class="bi bi-geo-alt"></a></h2>
        <br>
        <p style="height: 20px;">
        <p style="color: white;" id="mision"> Misión: </p>
        <br>En Viajes 360° Plus, nuestra misión es brindar experiencias de viaje únicas y excepcionales a nuestros
        clientes, superando sus expectativas y ofreciendo un servicio personalizado.
        Nos enfocamos a capacitarnos día a día para ser mejores, actuando con AMOR, DEDICACIÓN Y COMPROMISO por lo que
        nos apasiona y de ese modo poder cumplir la espectativa de nuestro viajero/a.
        <br>
        <br>
        <p style="color: white;" id="vision"> Visión: </p>
        <br>
        Nuestra visión es ser reconocidos como la agencia de viajes líder en el mercado, distinguida por nuestra
        atención personalizada y servicios de alta calidad que superan las expectativas de nuestros clientes. Nos
        esforzamos por innovar constantemente y ofrecer experiencias de viaje inolvidables y únicas que diferencian a
        Viajes 360° Plus de otras agencias. Queremos ser conocidos por nuestro compromiso con la excelencia y nuestra
        pasión por brindar a nuestros clientes el ¡PLUS QUE MARCA LA DIFERENCIA!.
        <br>
        <br>
        <p style="color: white;" id="mision">Objetivos Generales:</p>

        <br> 1-Brindar a nuestros clientes experiencias de viaje inolvidables y únicas. <br>

        2-Ser reconocidos como una agencia de viajes líder en calidad de servicio y atención al cliente. <br>

        3-Expandir nuestra presencia en el mercado de turismo y viajes, y aumentar nuestra participación de mercado.
        <br>

        4-Fomentar la responsabilidad social y ambiental en nuestros viajes y destinos turísticos. <br>

        5-Mantener la rentabilidad de la empresa y garantizar la continuidad de nuestras operaciones a largo plazo. <br>
        <br>
        <br>
        <p style="color: white;" id="mision">Objetivos Especificos:</p>

        <br> 1-Ofrecer paquetes turísticos personalizados que se ajusten a las necesidades y preferencias de nuestros
        clientes. <br>

        2-Establecer alianzas estratégicas con proveedores de servicios turísticos y hoteleros para ofrecer precios
        competitivos y de alta calidad. <br>

        3-Desarrollar y mantener una presencia en línea sólida y efectiva, con un sitio web fácil de navegar y una
        fuerte presencia en redes sociales. <br>

        4-Capacitar a nuestro personal para garantizar que brinden un servicio al cliente excepcional y estén bien
        informados sobre destinos turísticos y paquetes turísticos. <br>

        5-Llevar a cabo prácticas responsables y sostenibles de turismo, como la promoción de destinos turísticos
        ecológicos y la implementación de políticas de gestión de residuos. <br>

        6-Monitorear y medir regularmente el rendimiento de la empresa en términos de satisfacción del cliente,
        participación de mercado y rentabilidad, y ajustar nuestra estrategia según sea necesario para lograr nuestros
        objetivos generales. <br>
          <br>
        <p style="color: white;" id="mision">Valores Corporativos:</p>
        <br>
        <strong style="color: white;">1.EXCELENCIA: </strong> Buscar siempre la perfección en cada uno de nuestros
        servicios, brindando experiencias únicas e inolvidables a nuestros clientes. <br>
        <br>
        <strong style="color: white;">2.RESPONSABILIDAD:</strong> Cumplir con nuestras promesas y compromisos,
        trabajando con ética y transparencia en todas las operaciones y decisiones. <br>
        <br>
        <strong style="color: white;">3.INNOVACIÓN: </strong> Siempre en la búsqueda de nuevas ideas, tendencias y
        tecnologías para ofrecer a nuestros clientes una experiencia de viaje única y personalizada. <br>
        <br>
        <strong style="color: white;">4.SOSTENIBILIDAD: </strong> Comprometidos con el cuidado del medio ambiente,
        fomentando prácticas sostenibles y apoyando proyectos de responsabilidad social. <br>
        <br>
        <strong style="color: white;">5.PASIÓN POR EL SERVICIO: </strong> Siempre ofreciendo un servicio excepcional,
        con atención al detalle y enfocados en las necesidades y expectativas de nuestros clientes. <br>
        <br>
        <strong style="color: white;">6. TRABAJO EN EQUIPO: </strong> Fomentando el trabajo en equipo y la colaboración
        para alcanzar objetivos comunes y superar las expectativas de nuestros clientes. <br>
        <br>
        <strong style="color: white;">7.FLEXIBILIDAD:</strong> Adaptarnos a las necesidades y requerimientos de nuestros
        clientes, brindando soluciones personalizadas para cada caso. <br>
        <br>
        <p style="color: white;" id="mision"> Recuerda que los valores corporativos son la esencia de la cultura
          empresarial de una organización y deben ser compartidos y practicados por todos los integrantes de la empresa.
          Así que, es importante que estos valores se conviertan en una guía para la toma de decisiones y en una
          referencia para la conducta de todos los miembros de tu agencia de viajes.</p>

        <hr style="color: transparent;">



      </div>
    </div>
  </div>

  <div>

  </div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <a href="https://www.bijou-brigitte.com/" target="_blank">Bijou Madrid</a>
        <p>Av. Los Rosales 122</p>
        <p>28010 Madrid</p>
      </div>

      <div class="col-6 text-center">
        <a href="https://www.arteinformado.com/" target="_blank">Bijou Showroom</a>
        <p>Av. Diagonal 101</p>
        <p>08005 Barcelona</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h2>DISTRIBUIDORES</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-12 text-center mt-4">
      <a href="https://berger.com.mx/" target="_blank">Fantasy Jewelry</a>
      <p>CDMX, México</p>
    </div>
    <div class="col-12 text-center mt-4">
      <a href="https://esmeraldascolombia.com/" target="_blank">Black Emerald</a>
      <p>Bogotá, Colombia</p>
    </div>
    <div class="col-12 text-center mt-4">
      <a href="https://www.pandoraoficial.com.ar/" target="_blank">Pandora's Dream</a>
      <p>Buenos Aires, Argentina</p>
    </div>
    <div class="col-12 text-center mt-4">
      <a href="https://www.pandoraoficial.com.ar/" target="_blank">Premier Jewelry</a>
      <p>Montevideo, Uruguay</p>
    </div>

    <div class="col-12 text-center mt-4">
      <a href="https://anamaria.pe/" target="_blank"> The Red Ruby</a>
      <p>Lima, Perú</p>
    </div>
    <div class="col-12 text-center mt-4">
      <a href="https://lesbijouxchics.fr/" target="_blank"> Bijou Chic</a>
      <p>Paris, Francia</p>
    </div>
  </div>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 mt-5 d-flex justify-content-center">
          <a target="_blank" href="https://www.facebook.com/" style="color: black"><i
              class="bi bi-facebook fs-2 m-2"></i></a>
          <a target="_blank" href="https://twitter.com/" style="color: black"><i class="bi bi-twitter fs-2 m-2"></i></a>
          <a target="_blank" href="https://www.instagram.com/" style="color: black"><i
              class="bi bi-instagram fs-2 m-2"></i></a>
        </div>
        <div class="col-12 text-center">
          <p>infoviajes360plus@gmail.com</p>
        </div>
        <div class="col-12 text-center mt-3">
          <p>&copy; Viajes 360° Plus</p>
        </div>
      </div>
    </div> -->
  <footer>



    <div class="container mt-5">
      <div class="row">

        <div class="col-12 mt-5 d-flex justify-content-center">
          <a target="_blank" href="https://www.facebook.com/"
            style="color: black"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><i
              class="bi bi-facebook fs-2 m-2"></i></a>
          <a target="_blank" href="https://twitter.com/"
            style="color: black"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><i
              class="bi bi-tiktok fs-2 m-2"></i></a>
          <a target="_blank" href="https://www.instagram.com/viajes360plus/?igshid=YmMTA2M2Y%3D"
            style="color: black"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><i
              class="bi bi-instagram fs-2 m-2"></i></a>
        </div>
        <div class="col-12 text-center">
          <p>infoviajes360plus@gmail.com</p>
        </div>
        <div class="col-12 text-center mt-3">
          <p>&copy; Viajes 360° Plus</p>
        </div>
      </div>
    </div>
  </footer>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=3008903634&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Viajes 360° Plus."
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <script src="../controllers/pintarCarrito.js"></script>
  <script src="../services/conexionFireBase.js" type="module"></script>
  <script src="../services/observadorEstado.js" type="module"></script>
</body>

</html>